@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


@media (max-width: 768px){
  #new-flex{
    flex-direction: column!important;
  }
}

* {
  font-family: 'Roboto', sans-serif!important;
}
body{
  width: 100%;
  background-color: #0f1418;
  color: #fff;
  background-attachment: scroll;
}
.cover{
  display: table;
  width: 100%;
  background-color: #000;
  height: auto;
  background-image: url('./img/background.png');
  background-position: 30% 45%;
  background-repeat: no-repeat;
  background-size: cover;
}
.description{
  text-align: end;
  margin-right: 70px;
}
section{
  width: 100%;
  background-image: url('./img/enfeite.png');
  background-size: cover;
  background-attachment: fixed;
}
.bg-black{
  background-color: #000!important;
  color: #fff!important;
  width: 100%;
}
.bg-black-d{
  background: rgba(0, 0, 0, 0.73);
}
.card{
  background-color: transparent!important;
}
.size{
    width: 100px;
    text-align: center;
}
.bg-purple{
  background-color: #1c0840;
  color: #fff!important;
  width: 100%;
}
.fa-facebook-square{
  font-size: 1.5rem;
}
.fa-twitter{
  font-size: 1.5rem;
}
footer{
  height:100px; 
  bottom: -100; 
  text-align: center;
}


